PORT=

OPENAI_API_KEY=
OPENAI_PROMPT_ID=

BOT_TOKEN=
CHANNEL_ID=
GUILD_ID=

GCP_CLIENT_EMAIL=
GCP_PRIVATE_KEY=
SPREADSHEET_ID=

LOG_FLARE_SOURCE=
LOG_FLARE_API=

GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
GITHUB_TOKEN=

DEV_USERNAMES=